<h1>New Game</h1>

<ol>
  <% @letters.each do |letter| %>
    <li class="letter"><%= letter %></li>
  <% end %>
</ol>
<form id ="player-input" action="/score" data-turbo="false">
  <%= hidden_field_tag :letters, @letters %>
  <label for="player-input">What is the longest word you can find?</label><br>
  <input type="text" name="word">
  <input type="submit" value="send">
</form>
